/* @import url(general.css); */

/* -----------------------------------------------
----------NAVIGATION---------------------------
----------------------------------------------- */
.logo {
  flex-direction: column;
  width: 300px;
  z-index: 90;
}

.header {
  height: 100%;
}

.navbar {
  background-color: transparent;
  padding: 30px 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1300px;
  z-index: 99;
}

.navbar a {
  font-family: "Roboto-Family", sans-serif;
  float: left;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  padding: 12px;
}

.navbar .logo {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a.logo1 {
  padding: 0px;
}

.navbar-right a:hover {
  color: red;
}

/* .navbar-right a.active {
	color: var(--red);
} */

.navbar-right a {
  transition: color 0.5s ease;
}

.navbar-right {
  float: right;
}

.navbar .icon {
  display: none;
}

/* ---------------------------------------------------
------------SLIDER---------------------------------
--------------------------------------------------- */

.slideshow-container {
  position: relative;
  height: 100%;
}

.slide-item {
  display: none;
}

.bgimg {
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .bgimg::after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
} */

/* .caption {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 9;
}

.caption h2 {
	color: var(--white);
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 70px;
}

.caption p {
	color: var(--white);
	font-size: 20px;
}

.caption button {
	background-color: var(--white);
	border: 2px solid var(--red);
	color: var(--red);
	padding: 10px 40px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 16px;
	margin-top: 30px;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.caption button:hover {
	cursor: pointer;
	color: var(--white);
	background-color: var(--red);
}

.caption button:focus {
	outline: none;
} */

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.6s ease, height 0.6s;
}

.slide-control {
  position: absolute;
  left: 30px;
  top: 50%;
  width: 10px;
  text-align: center;
}

.dot:hover {
  background-color: red;
}

.dot.active {
  background-color: red;
}

/* fade animation */

.fade {
  animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
}

/* -----------------HEADER---------------- */

.container-header {
  max-width: 1300px;
  margin: 0 auto;
}

.heading-primary {
  width: 70%;
  position: absolute;
  top: 40%;
  left: 15%;

  padding-left: 0px;
}

.heading-primary h1 {
  font-size: 80px;
  font-family: "Ohno-Family", sans-serif;
  color: #600001;
  line-height: 1em;
}

.text-box {
  width: 70%;
  position: absolute;
  top: 300px;
  left: 350px;
}

.text-box h1 {
  font-size: 80px;
  font-family: "Ohno-Family", sans-serif;
  color: #600001;
  line-height: 1em;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}

.section-description {
  padding-top: 60px;
  min-height: 250px #fff;
}

.text-box2 {
  text-align: center;
}

.text-box2 h2 {
  font-family: "Ohno-Family", sans-serif;
  color: #600001;
  font-size: 30px;
}

.text-box2 p {
  font-family: "Roboto-Family", sans-serif;
  color: grey;
}

/* --------PRODUCTS----------- */

.products {
  font-family: "Ohno-Family", sans-serif;
  padding-bottom: 100px;
}

.container-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

.package-img {
  max-width: 100%;
  border-radius: 25px;
}

.package-img:hover {
  transform: scale(1.1);
}

.heading-secondary {
  padding: 30px;
  text-align: center;
  color: #000;
}

.package-title {
  color: #600001;
}

/*----------------------------*/

/* --------TESTIMONIALS----------- */

.testimonials {
  padding-top: 30px;
  height: 30vh;
  background-color: #f6bcb0;
  border-radius: 25px;
  text-align: left;
  color: #fff;
}

.about-part h2 {
  padding-top: 30px;
  padding-bottom: 40px; 
  font-size: 48px;
  font-family: "Madetommy1-Family";
  font-weight: 300;
  /* font-weight: bold;
	font-style: normal; */
}

.about-part p {
  font-family: "Madetommyyy-Family";
  padding-right: 100px;
  font-weight: light;
  font-style: normal;
}

.single-egg {
  max-width: 90%;
  position: center;
  z-index: 100;
  margin: 50px;
  transform: translate(-0%, -35%);
  -ms-transform: translate(-0%, -35%);
}

/*----------------------------*/

/* --------FOOD-SECTION----------- */

.food {
  padding-top: 50px;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.gallery_link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.gallery_overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: left;
  padding-top: 70px;
  justify-content: right;
  padding-right: 20px;
  font-size: 1.5rem;
  font-weight: 700;  
  font-family: Madetommy-Family;
  color: black;
}
.gallery_overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: left;  
  justify-content: left;
  padding-left: 70px;
  padding-bottom: 80px;
  /* font-size: 1.5rem; */
  color: #fff;
  /* background: rgba(0, 0, 0, 0.4); */
}

.gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products_ {
  font-family: "Madetommy-Family", sans-serif;
  font-size: 48px;
}
.products-search {
  font-size: 32px;
  font-family: "Madetommyyy-Family", sans-serif;
}

.food_ {
  font-family: "Madetommy-Family", sans-serif;
  color: #fff;
  font-size: 56px;
}
.food_p {
  font-family: "Madetommyyy-Family", sans-serif;
  font-size: 16px;
}

/*----------------------------*/

/* --------FOOTER----------- */
.footer {
  margin-top: 100px;
  width: 100%;
  height: 300px;
  /* background-color:#3d0001; */
  background-color: #600001;
  color: #fff;
}

.contact {
  padding-top: 100px;
  width: 1300px;
  margin: 0 auto;
  line-height: 20px;
}

.contact h3 {
  font-family: "Roboto-Family1", sans-serif;
  padding-bottom: 20px;
}

.contact p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  color: #f6bcb0;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
